<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zmx.communitystudy.dao.DiscussPostMapper">

    <sql id="selectFields">
        id,user_id,title,content,type,status,create_time,comment_count,score
    </sql>

    <!--List<DiscussPost> selectDiscussPosts(Integer userId, int offset, int limit);-->
    <select id="selectDiscussPosts" resultType="discussPost">
        select <include refid="selectFields"/> from discuss_post
        /*这里相当于不允许拉黑的消息显示*/
        where status != 2
        /*如果传入的userId等于0，就相当于查询所有的用户数据*/
        <if test="userId != 0">
            and user_id = #{userId}
        </if>
        order by `type` desc, `create_time` desc
        limit #{offset}, #{limit}
    </select>

    <!--Integer getDiscussPostRows(Integer userId);-->
    <select id="getDiscussPostRows" resultType="int">
        select count(id) from discuss_post
        where status != 2
        <if test="userId != 0">
            and user_id = #{userId}
        </if>
    </select>

</mapper>